* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

.outer-container {
   background-color: #eee;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   width: 60%;
   height: 600px;
   background-color: #f8f9fc;
   border-radius: 5px;
   box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.container .container-settings {
   display: flex;
   width: 100%;
   justify-content: space-around;
   align-items: center;
}


.container .container-settings  h2 {
   font-weight: normal;
   margin: 12px 0;
}

.container .container-settings  input {
   padding: 6px;
}

.container .settings-button {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.container  button {
   width: 15%;
   border: none;
   background-color: #00CED1;
   color: #454545;
   font-size: 16px;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.2s filter;
}

.container  button:hover {
   filter: brightness(90%);
}

.container .container-clock {
   width: 100%;
   height: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 128px;
   color: #303030;
}

